.Profile{
  display: flex;
  justify-content: center;
  .Content{
    width: 1280px;
    .Banner{
      z-index: -2;
      background: linear-gradient(0.79deg, rgba(0, 0, 0, 0.82) 12.19%, rgba(255, 255, 255, 0) 100%);
      border-radius: 32px;
      margin-top: 90px;
      height: 245px;
      width: 1280px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .Image{
        position: absolute;
        border-radius:32px;
        height: 245px;
        width: 1280px;
        z-index: -1;
      }
      .User{
        color: white;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .NN{
          margin-left: 50px;
          margin-right: 50px;
          .Name{
            font-size: 32px;
            font-weight: 700;
          }
          .Nickame{
            font-size: 16px;
          }
        }
        .Stat{
          margin-left: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 10px;
          .statNumber{
            font-size: 32px;
            font-weight: 700;
          }
          .statName{
            font-size: 20px;
          }
        }
        .Subscribe{
          margin-left: 120px;
          margin-right: 10px;
          background-color: transparent;
          border: 2px solid white;
          color: white;
          font-size: 20px;
          border-radius: 20px;
          width: 200px;
          height: 40px;
        }
        .Subscribe:hover{
          cursor: pointer;
        }
        .Avatar{
          margin-left: 20px;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
    }
  }
}

