.SignForm{
  position: relative;
  width: 460px;
  height: 600px;
  padding: 20px 35px;
}

.SignField{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.RulesField{
  display: flex;
  justify-content: center;
  align-items: center;
}


.Rules{
  cursor: pointer;
  color: #3997DB;
  border-bottom: 1px solid transparent;
  &:hover{
    border-bottom: 1px solid #3997DB;
  }
}

.HasAccount{
  margin-top: 20px;
}

.Input{
  outline: none;
  border: none;
  border-bottom: 2px solid;
  width: 90%;
  margin-bottom: 10px;
}


.Inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  & > *{
    width: 100%;
    margin-top: 20px !important;
  }
}

.Date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Passwords{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  & > *{
    width: 49% !important;
  }
}


.Error{
  position: absolute;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}


.Message{
  text-align: center;
}

.Resend{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Send{
  margin-top: 20px;
  background: none;
  border: none;
}

.Send:disabled{
  color:gray !important;
}