.ModalWindow{
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ModalContent{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
}

.ModalFrame{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  object-fit: contain;
}

.Footer{
  position: absolute;
  background-color: rgba(0,0,0, .5);
  bottom: 0;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    color: white;
  }
}