@import "../../../colors";

.fixed.light{
   background: linear-gradient(to right, $headerLeftColorLight, $headerRightColorLight);
 }

.fixed.dark{
  background: linear-gradient(to right, $headerLeftColorDark, $headerRightColorDark);
}

.free{

  .Avatar{

  }
  .Image{

  }
  .User{
    margin-bottom: 20px;
  }

}


.Banner {
  width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1000;
  background: $bannerGradient;
  border-radius:32px;
  height: 245px;
  margin-top: 30px;
  .Image{
    width: 1280px;
    position: absolute;
    margin-top: 190px;
    height: 245px;
    border-radius:32px;
    z-index: -1;
  }
  .User{
    color: white;
    display: flex;
    align-items: center;
    height: 100px;
    .Avatar {
      border-radius: 50%;
      margin-left: 20px;
      width: 100px;
      height: 100px;
    }
    .NN{
      margin-left: 50px;
      margin-right: 50px;
      .Name{
        font-size: 32px;
        font-weight: 700;
      }
      .Nickame{
        font-size: 16px;
      }
    }
  }
}
