@import "../../variables";

.Title{
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.Message{
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

section{
  display: flex;
  justify-content: space-between;
  height: 250px;
}

.Right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 15px;
  width: 400px;
}

.Sign{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border: 2px solid;
  border-radius: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  &:hover{
    cursor: pointer;
  }
}

.Comment{
  position: absolute;
  top: 35%;
  left: 29%;
}

.Stats{
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: #FF0000;
  display: inline-block;
}

.sky {
  background-color: #3996DB;
  top: 30vh;
  left: 27vw;
  width: 150px;
  height: 150px;
}

.blue {
  background-color: #7D93EB;
  top: 32vh;
  left: 53vw;
  width: 200px;
  height: 200px;
}

.magenta {
  background-color: #DB8DFF;
  top: 10vh;
  left: 13vw;
  z-index:-1;
  width: 200px;
  height: 200px;
}
