@import "../../../colors";

.Posts{
  width: 825px;
  margin-bottom: 50px;
  & > * {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}


.NoPost {
  width: 825px;
  height: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 15px;
}