
.CommentList{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 700px;
}

.Comments{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 500px;
}

.NoComments{
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddComment{
  display: flex;
  justify-content: space-between;
  & > *{
    margin-right: 5px;
  }
}

.Add{
  display: flex;
  justify-content: center;
  width: 100px;
  align-items: center;
  border: 2px solid;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}