/* Обнуление отступов и полей */
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
figure,
dl, dd, dt {
  margin: 0;
  padding: 0;
}

/* Обнуление стилей списков */
ul, ol {
  list-style: none;
}

/* Обнуление стилей ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Обнуление стилей таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Обнуление стилей изображений */
img {
  max-width: 100%;
  height: auto;
}



