$headerLeftColorLight: #3997DB;
$headerRightColorLight: #DB8DFF;

$headerLeftColorDark: #595454;
$headerRightColorDark: #000000;

$postBackgroundLight: white;
$postBackgroundDark: rgb(168, 168, 168);

$textColorLight: black;
$textColorDark: white;

$bannerGradient:  linear-gradient(0.79deg, rgba(0, 0, 0, 0.82) 12.19%, rgba(255, 255, 255, 0) 100%);

$bodyColorLight: #EBEBEB;
$bodyColorDark: gray;
