$headerLeftColorLight: #3997DB;
$headerRightColorLight: #DB8DFF;

$headerLeftColorDark: #292929;
$headerRightColorDark: #1a1a1a;

$postBackgroundLight: white;
$postBackgroundDark: #222222;

$textColorLight: black;
$textColorDark: white;

$bannerGradient:  linear-gradient(0.79deg, rgba(0, 0, 0, 0.82) 12.19%, rgba(255, 255, 255, 0) 100%);

$bodyColorLight: #EBEBEB;
$bodyColorDark: #333333;
