@import "colors.scss";
@import "variables";

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol, li,
figure,
dl, dd, dt {
  margin: 0;
  padding: 0;
}

html, #root, body{
  height: 100%;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.lightPost{
  background-color: $postBackgroundLight  !important;
}

.darkPost{
  background-color: $postBackgroundDark  !important;
}

.lightBody{
  background-color: $bodyColorLight  !important;
}

.darkBody{
  background-color: $bodyColorDark  !important;
}

.darkHeader{
  background: linear-gradient(to right, $headerLeftColorDark, $headerRightColorDark);
}

.lightHeader{
  background: linear-gradient(to right, $headerLeftColorLight, $headerRightColorLight);
}

.lightText{
  color: $textColorLight  !important;
}

.lightText::placeholder{
  color: $textColorLight  !important;
}

.darkText{
  color: $textColorDark !important;
}

.darkText::placeholder{
  color: $textColorDark  !important;
}

img{
  -webkit-user-drag: none;
}

.dark{

  .MuiDateCalendar-root{
    & *{
      color: white !important;
    }
    .MuiPickersDay-today{
      border: 1px solid white !important;
    }
    background-color: #222222 !important;
    .Mui-disabled:not(.Mui-selected){
      color:rgba(255,255,255, 0.2) !important;
    }

    .MuiPickersDay-root.Mui-selected{
      border: 1px solid white !important;
      background-color: white !important;
      color: black !important;
    }

    .MuiPickersYear-root{
      .MuiPickersYear-yearButton.Mui-selected {
        background-color: white !important;
        color: black !important;
      }
    }
  }
}

.fullscreen-height{
  height: 100vh;
}

.fullness{
  height: 100%;
}

.Content{
  width: $contentWidth;
  height: 100%;
}

.Page{
  flex: 1 1 auto;
}

.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.se{
  justify-content: space-evenly;
}

.sb{
  justify-content: space-between;
}

.sa{
  justify-content: space-around;
}

.c{
  justify-content: center;
}

.ai-c{
  align-items: center;
}

.clickable{
  cursor: pointer;
}